<!-- Form partial for articles -->
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div class="gray">
  <ul>
    <% @article.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Titulo", class:"form-custom" %>
  </div>
  <div class="field">
  Imagen Cover: <%= f.file_field :cover %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Cuerpo", class:"form-custom" %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class:"btnadmin be-yellow gray" %>
  </div>
<% end %>
