<div class="container-fluid">
    <div class="row">
    <% @motorcycles.each do |moto|%>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="boxmoto centered">
            <%= image_tag moto.image.url(:small) %>
            <h4 class="text-left yellow"><%=moto.model%></h4> 
            <h4 class="text-left yellow"><%=moto.price%></h4>
            <p class="text-left white">
              <%=moto.descriptionshort%>
            </p>
            <%= button_to 'Conoce más', moto_path(moto), :method => "get", class:"btnmoto be-yellow gray"%>
        </div>
      </div>
    <%end%>
    </div>
</div>
<%= render "partials/footer"%>