<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Nuevo mensaje de <%= @contact.name%> <%= @contact.lastname%></h3>
    <hr>
    <p><%= @contact.message%></p>
    <hr>
    <p><%= @contact.email%></p>
    <p><%= @contact.telephone%></p>
  </body>
</html>