<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Motocicletas guardadas</h3>
      <p id="notice"><%= notice %></p>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
         <thead>
           <th>Modelo</th>
           <th>Resumen</th>
           <th>Descripción</th>
           <th>Precio</th>
           <th>PDF status</th>
         </thead>
         <tbody>
          <% @motorcycles.each do |motorcycle| %>
          <tr>
            <td><%= motorcycle.model %></td>
            <td><%= motorcycle.descriptionshort %></td>
            <td><%= motorcycle.descriptionbig %></td>
            <td><%= motorcycle.price %></td>
            <!-- checking if a pdf was uploaded -->
            <% if motorcycle.pdf.to_s == "/pdfs/original/missing.png" %>
              <td><div class="btn btn-danger btn-xs">No PDF</div></td>
            <% else %>
              <td><a href="<%=motorcycle.pdf%>" target="_blank"><div class="btn btn-success btn-xs" >Ver PDF</div></a></td>
            <%end%>
            <td><%= button_to 'Editar', edit_motorcycle_path(motorcycle), :method => "get", class:"btn btn-primary btn-xs"%></td>
            <td><%= button_to 'Ver', motorcycle_path(motorcycle), :method => "get", class:"btn btn-success btn-xs"%></td>
            <td><%= button_to 'Eliminar', motorcycle, method: :delete, data: {confirm: '¿Estás seguro?'} ,class:"btn btn-danger btn-xs"%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
